/*！响应式布局七：底部*/
@media screen and (min-width: 1190px) {
	.body-bottom {
		width: 1190px;
	}	
	.footline-two {
		height: 18px;
	}
}
@media screen and (max-width: 1189px) {
	.body-bottom {
		width: 990px;
	}	
	.footline-two {
		height: 36px;
	}
}

.body-bottom {
	margin-top: 47px;
}
.body-bottom a:hover {
	color: #ff4400;
}
.tao-help {
	width: 100%;
	height: 140px;
}
.help-common {
	float: left;
	width: 25%;
	height: 95px;
	margin-right: -1px;
}
.help-wrap {
	height: 100%;
	padding: 0 25px;
	border-right: 1px solid #eeeeee;
}
.help-wrap p {
	display: block;
	width: 100%;
	height: 32px;
	margin-top: 7px;
}
.help-wrap img {
	float: left;
	display: block;
	width: 32px;
	height: 32px;
}
.help-wrap span {
	float: left;
	display: block;
	padding-top: 5px;
	margin-left: 12px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	color: #3c3c3c;
}
.help-wrap ul {
	display: block;
	margin-top: 14px;
	/*width: ;*/
	height: 42px;
}
.help-wrap a {
	float: left;
	display: block;
	height: 21px;
	line-height: 21px;
	margin-right: 13px;
	font-size: 12px;
	color: #9c9c9c;
}
.tao-foot {
	width: 100%;
	/*height: 140px;*/
	border-top: 2px solid #ff5400;
}
.foot-one {
	width: 100%;
	height: 62px;
	padding-top: 7px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.foot-one p {
	display: block;
	width: 100%;
	height: 27px;
}
.foot-one a {
	float: left;
	display: block;
	height: 27px;
	line-height: 27px;
	margin: 0 4px;
	font-size: 12px;
	color: #6c6c6c;
}
.foot-one b,.foot-two b {
	float: left;
	display: block;
	width: 4.594px;
	font-weight: 300;
	color: #dddddd;
	margin: 0 3px;
}
.foot-one b {
	line-height: 27px;
}
.foot-two b {
	line-height: 18px;
}
.foot-two {
	display: block;
	width: 100%;
	margin-top: 8px;
}
.foot-two p {
	display: block;
	width: 100%;
	line-height: 18px;
	padding-bottom: 8px;
}
.footline-one {
	height: 18px;
}
.foot-two a {
	margin: 0 4px;
	font-size: 12px;
	color: #6c6c6c;	
}
.footline-one a {
	float: left;
}
.footline-one em {
	float: left;
	display: block;
	margin-left: 30px;
	font-size: 12px;
	font-style: normal;
	color: #9c9c9c;	
}
.footline-two span {
	float: left;
	display: block;
	margin: 0 4px;
	font-size: 12px;
	color: #9c9c9c;
	white-space: nowrap;
}
.foot-thr {
	width: 100%;
	height: 40px;
}
.foot-thr a {
	float: left;
	display: block;
	height: 40px;
	margin-right: 15px;
	background-image: url("img/TB-two.png");
	background-size: 529px 200px;	
	background-repeat: no-repeat;
}
a.footer-one {
	background: none;
}
.footer-one img {
	display: block;
	width: 36px;
	height: 36px;
}
.footer-two {
	width: 30px;
	background-position: 0 -140px;
}
.footer-thr {
	width: 33px;
	background-position: -40px -140px;	
}
.footer-fou {
	width: 50px;
	background-position: -80px -140px;	
}
.footer-fiv {
	width: 83px;
	background-position: -140px -140px;
}
.footer-six {
	width: 94px;
	background-position: -240px -140px;
}
.footer-sev {
	width: 93px;
	background-position: -345px -140px;	
}
.footer-eig {
	width: 83px;
	background-position: -446px -140px;
}

/*返回顶部*/
.fixedtool {
	position: fixed;
	right: 0;
	bottom: 10px;
	width: 40px;
	height: 79px;
	/*border: 1px solid #ebebeb;*/
	/*border-bottom: none;*/
	z-index: 50;
}
.fixedtool a {
	display: block;
	width: 38px;
	height: 38px;
	border: 1px solid #ebebeb;
	background-color: #f5f5f5;
}
.feed-back {
	position: absolute;
	bottom: 0;
}
.fixedtool img {
	width: 18px;
	height: 18px;
	margin: 10px;
}
.fixedtool span {
	display: none;
	margin: 3px 7px;
	width: 24px;
	line-height: 16px;
	font-size: 12px;
	color: #ffffff;
}
.fixedtool a:hover {
	background-color: #999999;
	border-bottom-color: #999999;
	z-index: 51;
}
.fixedtool a:hover img {
	display: none;
}
.fixedtool a:hover span {
	display: inline-block;
}