body {
	overflow-x: hidden;
	background-color: #ffffff;
	font-family: tahoma,arial,'Hiragino Sans GB',"Microsoft YaHei","黑体",sans-serif;
	-webkit-font-smoothing: antialiased;
}
button,input,select {
	font-family: tahoma,arial,'Hiragino Sans GB',"Microsoft YaHei","黑体",sans-serif;
	-webkit-font-smoothing: antialiased;	
} 
a{
    text-decoration: none;
}
ul {
	list-style: none;
}
.header {
	display: block;
}
.head-nav {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
}
.head-nav:after {
	clear: both;
}
/*通过最大最小的宽度设置使其不会挤压出界*/
.nav-content {
	max-width: 1190px;
	min-width: 950px;
	height: 35px;
	margin: 0 auto;
}
.nav-common {
	float: left;	
	height: 35px;
	line-height: 35px;
}
/*针对隐藏和显现的所有链接？!*/
.nav-common a {
	float: left;
	display: block;
	cursor: pointer;
	font-size: 12px;
	color: #6c6c6c;
}
.nav-left .login a {
	color: #f22e00;
}
a.head-hover:hover {
	color: #ff4400;
}
.nav-left {
	float: left;
	padding: 0 6px;
}
.nav-right {
	float: right;
}
.login {
	margin-right: 7px;
}
.register {
	margin-right: 19px;
}
.phone {
	margin-right: 7px;
}

.nav-right .nav-common {
	padding: 0 5px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	position: relative;
}
.rect-hover:hover {
	background-color: #ffffff;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
.nav-right .separator {
	width: 4.59px;
	border: none;
	color: #dedee3;
}
.right-visible a {
	margin-right: 7px;
}

.icon-common {
	/*display: inline-block; 中间有空隙*/
	display: block;
	float: left;
	width: 12px;	
}
.icon-common img {
	display: block;	
}
.arrow-icon {
	height: 3px;
	margin-top: 16px;
	/*color: #9c9c9c;*/
}
.shopping-icon,.collect-icon,.nav-icon {
	margin-right: 5px;
	margin-top: 12px;
	height: 11px;
}
.arrow-icon img {
	margin-left: 3px;
	width: 6px;
	height: 3px;
}
.shopping-icon img {
	width: 12px;
	height: 11px;	
}
.collect-icon img {
	width: 11px;
	height: 11px;
}
.nav-icon img {
	width: 7px;
	height: 7px;
	margin-top: 2px;
	margin-left: 2px;
}
/*hover的列表内容*/
.right-hidden {
	position: absolute;
	z-index: 10001;
	/*left为什么不可以*/
	display: none;
	margin-left: -6px;
	top: 36px;
	padding: 8px 0;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
}
.mytaobao,.sellercenter {
	width: 82px;
}
.collection {
	width: 86px;
}
.contactserver {
	width: 70px;
}
.right-hidden a {
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	padding: 0 5px;
	line-height: 28px;
	/*以下值继承nav-common a*/
	/*display: block;*/
	/*font-size: 12px;*/	
	/*color: #6c6c6c;*/
}
.right-hidden a:hover {
	background-color: #f5f5f5;
}
/*网站导航的隐藏部分*/
.last-hidden {
	position: absolute;
	z-index: 10001;
	display: none;
	width: 1172px;
	height: 240px;
	padding: 18px 8px;
	margin-left: -1100px;
	top: 36px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
}
.hidden-box {
	display: block;
	float: left;
	width: 287px;
	height: 240px;
	padding-left: 5px;
	border-right: 1px solid #eeeeee;
}
.none-border {
	width: 288px;
	border: none;
}
.box-title {
	display: block;	
	width: 63px;
	height: 20px;
	margin: 5px;
	background-image: url("img/TB-two.png");
	background-size: 529px 200px;	
	background-repeat: no-repeat;
}
.title-orange {
	background-position: -100px 0;
}
.title-green {
	background-position: -100px -20px;
}
.title-pink {
	background-position: -100px -40px;
}
.title-blue {
	background-position: -100px -60px;
}
.hidden-box li {
	float: left;
	padding-top: 5px;
}
.content-short li {
	width: 24%;
}
.content-long li {
	width: 30%;
}
.hidden-box a {
	position: relative;
	/*width为auto保证hover的面积根据字体长度定义*/
	height: 25px;
	padding: 0 8px;
	margin: 0 2px;
	line-height: 25px;
	/*怎样测radius*/
	border-radius: 2px;
	/*text-align: center;*/
	color: #3c3c3c;	
}
.hidden-box a:hover {
	color: #ffffff;
}
.hidden-box img {
	position: absolute;
	top: -5px;
	right: 0;
	display: block;
	width: 9px;
	height: 14px;
}
.content-orange a:hover {
	background-color: #ff5500;
}
.content-green a:hover {
	background-color: #a0b959;
}
.content-pink a:hover {
	background-color: #df61ab;
}
.content-blue a:hover {
	background-color: #52a0e5;
}
/*导航以下的部分*/
.wholepage {
	display: block;
	width: 1190px;
	margin: 0 auto;
}
.top {
	display: block;
	width: 100%;
	height: 166px; /*130px+36px*/
}
.left-wrap,.right-wrap {
	float: left;
	display: block;
	height: 90px;	
}
.left-wrap {
	/*mark1*/
	width: 971px;
	/*min-width: 840px;*/
	margin-bottom: 8px;
	margin-top: 68px; /*32px+36px*/
}
.right-wrap {
	position: relative;
	width: 219px;
	height: 114px;
	margin-top: 48px; /*12px+36px*/
}
.logo {
	float: left;
	width: 250px;
	height: 100%;
	position: relative;
}
.logo-picture {
	display: inline-block;
	cursor: pointer;
	width: 142px;
	height: 58px;
	/*top: 8px;*/
	margin: 8px 108px 24px 0;
	background-image: url("img/TB.png");
	background-size: 229px 193px;
	background-position: 0 0; 
	background-repeat: no-repeat;
}
.search {
	float: left;
	/*mark2*/
	width: 721px;
	/*min-width: 590px;*/
	height: 100%;
}
.search-label {
	height: 25px;
}
.search-blank {
	position: relative;
	height: 40px;
}
.search-category {
	position: relative;
	height: 25px;
}
.search-label ul li {
	float: left;
	width: 50px;
	height: 100%;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
	cursor: pointer;
}
/*初始状态*/
.baobei-select {
	color: #ffffff !important;
	background-color: #ff5400;
	font-weight: 700;
}
.tianmao:hover {
	color: #c60000;
	background-color: #f9e6e6;
}
.baobei:hover,.dianpu:hover {
	color: #ff5400;
	background-color: #ffeee5;
}
/*点击事件之后*/
.tianmao-select {
	color: #ffffff !important;
	background-color: #c60000;
	font-weight: 700;
}
.dianpu-select {
	color: #ffffff !important;
	background-color: #ff5400;
	font-weight: 700;
}

.search-panel {
	position: absolute;
	left: 0;
	width: 621px;
	/*min-width: 490px;*/
	/*height: 100%;padding不算高度所以height为100%会溢出*/
	padding: 3px 0 3px 3px;
	background-color: #ff5500;
	color: #3c3c3c;
}
.panel {
	position: relative;
	width: 618px;
	height: 34px;
	background-color: #fff; 	
}
.pic-image {
	position: absolute;
	left: 591.3px;
	top: 8.3px;
	width: 20px;
	height: 20px;
	background-image: url("img/pic-take.png");
	background-size: 20px 45px;
	background-position: 0 0; 
	background-repeat: no-repeat;
}
.panel img {
	position: absolute;
	display: block;
	top: 12px;
	left: 12px;
	width: 11px;
	height: 12px;
}
.panel p {
	position: absolute;
	display: block;
	top: 6px;
	left: 31px;
	width: auto;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #9c9c9c;
}
.panel .baobei-text {
	display: block;
}
.panel .tianmao-text {
	display: none;
}
input.search-content {
	/*怎样覆盖绝对定位的文字*/
	/*z-index: 9998;*/
	padding: 6px 0;
	border: none;
	outline: 0; 
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-indent: 10px;
}
.search-confirm {
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	text-align: center;
}
.confirm-button {
	width: 100%;
	height: 100%;
	border: none;
	color: #fff;
	background-color: #ff4200;
	/*font-weight: ?*/
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;
	text-indent: 5px;
	cursor: pointer;
	align-items: flex-start;
	-webkit-writing-mode: horizontal-tb;
}
.confirm-button:hover {
	background-color: #f52b00 !important;
}
.search-list {
	padding-top: 5px;
	padding-bottom: 2px;
	height: 18px;
	width: 679px;
}
.search-list a {
	float: left;
	display: block;
	width: auto;
	padding-right: 8px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #6c6c6c;
}
.search-list a:hover {
	color: #ff4400;
}
.search-list a.list-orange {
	color: #ff4400;
}
/*类选择器比上述hover多所以red不变*/
.search-list a.list-red {
	color: #c60000;
}
.list-one {
	display: block;
}
.list-two {
	display: none;
}

.search-more {
	position: absolute;
	right: 1px;
	top: 4px;
	width: 39px;
	height: 18px;
	font-size: 12px;
	border: 1px solid #eeeeee;
}
.search-more:hover {
	background-color: #ff4400;
}
.more {
	display: block;
	padding: 0 10px 0 5px;
	line-height: 18px;
	color: #6c6c6c;
}
.search-more:hover .more {
	color: #ffffff;
}
.arrow-right {
	display: block;
	position: absolute;
	top: 6px;
	right: 4px;
	width: 3px;
	height: 6px;
	color: #dadada;
}

.highsearch {
	position: absolute;
	left: 0;
	top: 38px;
	width: 39px;
	height: 39px;
}
.search-title {
	padding: 3px 0 0 15px;
}
.search-title a:hover {
	color: #ff4400;
}
.search-link {
	color: #6c6c6c;
	font-size: 12px;
}	
.codescan {
	position: absolute;
	right: 0;
	width: 94px;
	height: 112px;
	border: 1px solid #eeeeee;
	cursor: pointer;
}
.scan-title {
	width: 80px;
	height: 20px;
	margin: 4px auto 0;
}
.scan-code {
	width: 80px;
	height: 80px;
	margin: 0 8px 8px 8px;
}
.scan-close {
	position: absolute;
	left: -19px;
	top: -1px;
	width: 18px;
	height: 18px;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
span.text {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #ff4400;
}
img.code {
	display: block;
	width: 80px;
	height: 80px;
}
img.close {
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	top: 5px;
	left: 4px;   /*close符号居中？*/
	/*margin: auto;
	margin-top: 4.5px;
	margin-bottom: 4.5px;*/
}





















